<h1>Add Student</h1>
<form action="/addStudent" method="POST">
    <label>Student ID:</label>
    <input type="text">
    <br>
    <label>Name:</label>
    <input type="text">
    <br>
    <label>Age:</label>
    <input type="text">
    <br>
    <input type="submit" value="Add">
</form>