<h1>Students</h1>
<a href="/students/add">Add Student</a> | <a href="/">Home</a>
<table border="1" style="width: 100%; text-align: left;">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.sid %></td>
                <td><%= student.name %></td>
                <td><%= student.age %></td>
                <td>
                    <a href="/students/update/<%= student.sid %>">Update</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
